@import "src/sass/global/mixin" ;
#{{ID}} {
	background:#f7faff;
	padding-top:70px;
	padding-bottom:130px;
	.title {
		text-align:center;
		@include font(30px);
		color:$black;
		letter-spacing: 1.5px;
	}
	.cnt {
		text-align:center;
		@include font(14px);
		color:$gray;
		margin:16px 0 56px 0;
		-webkit-font-smoothing: antialiased;
		letter-spacing: 1.5px;
	}
	.type {
		text-align:center;
		@include font(14px);
		display:inline-block;
		padding:0 5px 6px 5px;
		cursor: pointer;
		-webkit-font-smoothing: antialiased;
	}
	.col-xs-1 {
		padding:0;
		text-align:center;
	}
	.col-xs-2 {
		text-align:center;
	}
	.col-xs-6 {
		min-width:295px;
	}
	.margin {
		margin-left:70px;
		margin-right:70px;
	}
	.nick {
		font-size: 14px;
	}
	.time {
		padding-left:10px;
		color: #b3b5b7;
		font-size: 12px;
	}
	.border {
		color:$black;
		border-bottom:1px solid $black;
	}
	.project {
		@include font(20px);
		color:$black;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;

	}
	.projectList {
		padding:30px 0 32px 26px;
		
		position:relative;
		background-color: #fff;
		border-radius: 2px;
		height:371px;
		overflow:hidden;
		@include hover(0.4s);
    	-webkit-transform: translate3d(0, 0px, 0);
    	transform: translate3d(0, 0px, 0);
	}
	.projectList:hover {
		box-shadow: 0 1px 24px 2px rgba(71,133,249,.3);
    	-webkit-transform: translate3d(0, -4px, 0);
    	transform: translate3d(0, -4px, 0);
	}
	.userInfo {
		color:$gray;
		@include font(12px);
		margin:12px 0 41px;
		font-size: 14px;
	}
	.blue {
		color:$blue;
	}
	.line {
		padding-left:8px;
	}
	.blueLine {
		margin-bottom:2px;
		background: #4785f9;
	    display: inline-block;
	    width: 3px;
	    height: 15px;
	    margin-right:6px;
	    padding-top: 3px;
	    vertical-align: middle;
	    font-size: 14px;
		box-shadow:2px 0 4px 0 rgba(71,133,249,.44)
	}
	.money {
		@include font(48px);
		color:$black;
		font-weight: bold;
	}
	.unit {
		color: $black;
		font-weight: bold;
	}
	.price {
		@include font(36px);
		color:$black;
		padding-top:12px;
	}
	.budget {
		@include font(14px);
		margin-bottom:26px;
	}
	.col-md-4 {
		margin-top:40px;
	}
	p {
		@include font(12px);
		margin:0 0 14px;
	}
	.green {
		color:$green;
	}
	.supplier {
		font-size:12px;
		color:$blue;
		margin-top:57px;
		min-height:24px;
	}
	img {
		width:24px;
		height:24px;
		border-radius:24px;
	}
	.noImg {
		width:24px;
		height:24px;
		border-radius:24px;
		display:inline-block;
		background:$blue;
		vertical-align: middle;
		color:#fff;
		text-align:center;
		line-height:24px;
	}
	.join {
		padding-right:18px;
	}
	.status {
		position:absolute;
		width:40px;
		height:40px;
		color:#fff;
		background:$blue;
		line-height:40px;
		right:26px;
		top:33px;
		border-radius:40px;
		text-align:center;
		font-size:14px;
	}
	.end {
		position:absolute;
		width:40px;
		height:40px;
		right:26px;
		top:33px;
		border-radius:30px;
		@include behavior('{{MIMAGE}}/end.png');
		background-size:40px 40px;
	}
	.more {
		font-size:14px;
		color:$blue;
		text-align:center;
		margin-top:50px;
	}
	.icon-Expansion {
		font-size:12px;
	}
	.loadDiv {
		width:100%;
		height:370px;
		margin-top:48px;
	}
	.noMsg {
		text-align:center;
		width:100%;
		height:370px;
		margin-top:48px;
	}
	.loading {
		@include behavior('{{MIMAGE}}/loading.gif');
		background-size:80px 14px;
		width:100%;
		height:14px;
	}
	.addrHide {
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    padding-right:15px;
	}
	@media (max-width: 992px) {
		.margin {
			margin-left: -15px;
    		margin-right: -15px;
		}
	}
}