#UpgradeToSupplier{
  padding: 0 .15rem;
  text-align:center;

    .title {
      font-size:0.18rem;
      margin-bottom:0.35rem;
      padding-top:0.4rem;
      color:#212022;
    }
    .pay-info {
      font-size:0.14rem;
      line-height: .2rem;
      margin-bottom:0.35rem;
      color:#B3B5B7;
    }
  .btn {
    width:1.2rem;
    width:calc((100% - 15px)/2);
    display: inline-block;
    margin-bottom: .35rem;
  }
  .cancel{
    margin-right: 10px;
  }
}