#HavePublishModule {
	text-align:center;
	padding:.4rem .2rem .35rem .2rem;
	.title {
		color:#202122;
		font-size:.18rem;
	}
	.content {
		color:#B3B5B7;
		font-size:.14rem;
		margin:.35rem 0;
		padding: 0 .12rem;
	}
	.mar {
		margin-right:.08rem;
	}
	.btn {
		width:1.2rem;
	}
	.btn {
		font-size:.15rem;
	}
}