@import "src/sass/global/mixin";
@import "src/sass/global/libs/variable";

#AvatarUploader {
    .title {
        padding-top: .4rem;
        text-align: center;
        margin-bottom:.3rem;
        color:#212022;
    }
    .select {
        display: table;
        width: 1.505rem;
        height: 1.506rem;
        background: transparent;
        border: 1px solid #4785f9;
        position:absolute;
        top:50%;
        margin-top:-.75rem;
        left:50%;
        margin-left:-.75rem;
        font-size:.12rem;
    }
    .upLoad {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color:#4785F9;
    }
    .font14 {
        font-size:.14rem;
        margin-bottom:.1rem;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label {
        font-weight:400;
    }

    #crop-frame {
        height: 2.55rem;
		width: 2.55rem;
		margin: 0 auto;
        background-color:#ebf0f8;
        position:relative;
    }

	/* 插件所需，不要动 */
    img#crop {
        max-width: 100%; /* This rule is very important, please do not ignore this! */
    }
    .center {
        text-align:center;
        margin-top:.35rem;
    }

    .btn {
        width:2.55rem;
        height:.44rem;
        text-align:center; 
        margin:0 auto;
    }
    .reselect {
        position: absolute;
        right: -.145rem;
        bottom: -.145rem;
        z-index: 10;
        width: .33rem;
        height: .33rem;
        border-radius: 50%;
        background: #4785F9;
        line-height: .31rem;
        color: #fff;
        text-align: center;
        font-size:.14rem;
    }
    .bottom {
        padding-bottom:.35rem;
    }
}
