#GrabPage{
  background-color: #fff;
	.MEIQIA-ICON-CHAT7 {
		background-position: 0 -220px !important;
	}
 	.MEIQIA-ICON-TICKET2 {
    background-position: -32px -29px !important;
	}
	.grab-chat {
		padding-top: 35px;
	    background-color: #FFF;
	}
}