@import "src/sass/global/mixin";

#ShortMessageService {
  .content {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
  .return {
    margin: 0.16rem 0 0.16rem 0.15rem;
    line-height:1;
    font-size:0.16rem;
  }
  .icon-return{
    color: $lightgray;
  }
  .service-title {
    font-size: 0.24rem;
    line-height: 1;
    text-align: center;
    color: $black;
  }
  .service-detail {
    position: relative;
    margin-left: 1.57rem;
    margin-top: 0.5rem;
    margin-bottom: 0.09rem;
    font-size: 0.14rem;
    line-height: 1;
    text-align: center;
    .no {
      position: absolute;
      left: 0;
      color: $gray;
    }
    .open {
      position: absolute;
      right: 0.1rem;
      color: $green;
    }
    //小竖线
    .spacer {
      display: inline-block;
      background-color: $linecolor;
      color: $linecolor;
      width: 1px;
      margin-right: 0.26rem;
      display: inline-block;
    }
  }
  .service-list {
    position: relative;
    font-size: 0.12rem;
    color: $gray;
    line-height: 1;
    height: 0.41rem;
    border-bottom: 1px solid $linecolor;
    //text-align: center;
    //padding:0.14rem 0;
    .list-1 {
      position: absolute;
      left: 0;
    }
    .list-2 {
      position: absolute;
      left: 1.57rem;
    }
    .list-3 {
      position: absolute;
      right: 0;
      color: $black;
    }
  }
  .icon-checkmark02 {
    color: $green;
    margin-right: 0.06rem;
  }
  [class^="list-"] {
    top: 0.14rem;
  }
  //小三角
  .grab-open {
    color: $lightgray;
    float: right;
    margin-bottom: 0.15rem;
    transition: transform .3s ease-in 0s;
    -webkit-transition: -webkit-transform .3s ease-in 0s;
    -o-transition: -o-transform .3s ease-in 0s;
    -ms-transition: -ms-transform .3s ease-in 0s;
  }

  .grab-open.rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
  }

  .grab-open.rotate:before {
    color: $blue;
  }

  .grab-open:before {
    font-size: 0.12rem;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .grab-open.icon-circle-up:before {
    font-size: 0.12rem;
  }

  .service-city {
    font-size: 0.16rem;
    color: $blue;
    line-height: 1;
    margin-top: 0.45rem;
  }
  .city-list{
    margin-top:0.22rem;
  }
  .city-head{
    font-size:0.14rem;
    height:0.33rem;
    padding:0.09rem 0;
    color:$black;
    border-bottom:1px solid $linecolor;
    .due-time{
      font-size:0.12rem;
      color:$lightgray;
      margin-left:0.13rem;
      display: none;
    }
  }
  .city-pay{
    font-size: 0.12rem;
    color: $gray;
    border-bottom:1px solid $linecolor;
    width:100%;
  }
  .pay-month{
    text-align: left;
    height:0.26rem;
    line-height: 0.26rem;
    margin-top:0.14rem;
    .right{
      float: right;
      line-height:1;
    }
    .older-price{
      text-decoration: line-through;
    }
  }
  .pay-month:first-child{
    margin-top:0.16rem;
  }
  .pay-month:last-child{
    margin-bottom:0.16rem;
  }
  .btn-primary{
    padding:0.07rem 0.12rem;
    width:0.7rem;
    height:0.26rem;
    text-align: center;
    line-height:1;
    font-size:0.12rem;
    margin-left:0.06rem;
    border-radius: 2px;
     }
  .other-city{
    font-size:0.12rem;
    line-height: 1;
    color: $lightgray;
    margin-top:0.18rem;
    margin-bottom: 0.41rem;
  }
}