@import "src/sass/global/mixin";
@import "src/sass/global/libs/variable";

#TopHead {
	.topheader {
		position: relative;
	    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.1);
	    box-shadow: 1px 1px 4px rgba(0,0,0,.1);
	    height: .48rem;
	    width: 100%;
	    text-align: center;
	    line-height: .48rem;
	    z-index: 1;

	    span {
	    	font-size: 0.17rem;
	    	color: $dark-gray;
	    }
	}
}